@import url("https://fonts.xz.style/serve/liberation-sans.css");
@import url("https://fonts.xz.style/serve/liberation-mono.css");

.title {
  display: none;
}

html {
  font-family: 'Liberation Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.25;
  max-width: 80ch;
  margin: auto;
}

header {
  font-style: italic;
}

h1 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}


code {
  font-family: 'Liberation Mono', monospace;
  font-size: .8em;
  background: #eeeeee;
  border-radius: 3px;
}

code:not(.sourceCode) {
  padding: 0em .2em;
}

.sourceCode {
  background: #eeeeee;
  border-radius: 3px;
}

pre {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: right;
  padding: 10px;
}
header a:hover {
  text-decoration: none;
}

footer {
  padding-top: 30px;
  font-size: .8em;
  text-align: center;
}

