@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.title {
  display: none;
}

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 80ch;
  margin: auto;
}

h1 {
  font-style: italic;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

.sourceCode {
  background: #eeeeee;
}

pre {
  padding: 10px
}

code {
  font-family: 'PT Mono', monospace;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: right;
  padding: 10px;
}
header a:hover {
  text-decoration: none;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
}

